@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: 0;
  }
  
body {
    font-family : 'Montserrat', sans-serif;
    overflow-x: hidden;
}

table tbody tr:nth-child(n+1){
    border-bottom: 1px solid #e3e1e1;
}

@media (min-width: 1350px) {
  .show-at-1350 {
    display: block;
  }
}

